{% extends 'base.html' %}
{% block content %}
<div class="row">
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <h5>Accesos rápidos</h5>
                <ul>
                    <li><a href="/app/instructor/procedures">Gestión de procedimientos</a></li>
                    <li><a href="/app/instructor/analytics">Analítica</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-md-8">
        <div class="card">
            <div class="card-body">
                <h4>Panel Instructor</h4>
                <p>Monitorea el desempeño y administra rubricas.</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block scripts %}
<script>
    requireAuth('INSTRUCTOR');
</script>
{% endblock %}
